@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
    background-color: #1d0000;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.site-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container,
.watchlist-container {
    margin-top: 150px;
    margin-bottom: 75px;
    flex: 1;
}

/* About Page */
@media (min-width: 50em) {
    .main-container,
    .watchlist-container {
        width: 95%;
        margin: 150px auto 75px auto;

    }
}

@media (min-width: 90em) {
    .main-container,
    .watchlist-container {
        width: 75%;
    }
}

/* Search Result Page */

.search-heading {
    margin-left: 12px;
}


/* Watchlist Page */
.watchlist-image img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(25%);
    margin-top: 95px;
}

.watchlist-container {
    position: relative;
    margin-top: 0;
}

.watchlist-title {
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
}
