footer {
    background-color: #0C0000;
    padding-top: 20px;
    text-align: center;
    position: relative;
    margin-top: 50px;
}

/* Logo and title */
.footer-logo img {
    height: 60px; 
    vertical-align: middle;
}

.website-name {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    vertical-align: middle;
    color: white;
}


footer p {
    margin: 10px auto;
}

/* The boundary on the top of the footer */
footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 7px;
    background: linear-gradient(to top, #0C0000, #641c1c56);
}