.home-main-container {
    margin-bottom: 75px;
    flex: 1;
}

.movie-list {
    width: 95%;
    margin: 60px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    justify-content: center;
    padding: 0;
    row-gap: 40px;
    column-gap: 45px;
}

.movie-link {
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 10px;
    cursor: pointer;
}

.movie-link img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}


/* Movie lists hover and active styles */
.react-tabs__tab--selected {
    outline: none;
}

.movie-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    width: 95px;
    height: 5px;
    background-color: #5f575865;
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out;
}

.react-tabs__tab--selected::after {
    background-color: #DB1623;
}


@media (min-width: 34em) {
    .movie-list {
        grid-template-columns: repeat(2, 140px);
        column-gap: 22vw;
    }

    .movie-link .text {
        font-size: 1.5rem;
    }

    .movie-link::after {
        width: 125px;
    }
}

@media (min-width: 50em) {
    .movie-list {
        grid-template-columns: repeat(4, 140px);
        column-gap: 32px;
    }
}

@media (min-width: 70em) {

    .movie-list {
        max-width: 1400px;
        grid-template-columns: repeat(4, 200px);
        column-gap: 5vw;
    }

    .movie-link {
        flex-direction: row;
        justify-content: center;
    }
    
    .movie-link .text {
        margin-left: 15px;
    }

    .movie-link::after {
        width: 190px;
    }

}


/* spinner */
.spinner.loading {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spinner.loaded {
    display: none;
}

.loading.not-finish {
    opacity: 0;
}

.loading.finished {
    transition: opacity 1s ease-in-out;
    opacity: 1;
}