.home-main-container {
    margin-bottom: 75px;
    flex: 1;
}

.movie-list {
    max-width: 1600px;
    margin: 60px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    row-gap: 40px;
    column-gap: 25px;
}

.movie-link {
    width: 35%;
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 10px;
    cursor: pointer;
}

.movie-link img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}


/* Movie lists hover and active styles */
.react-tabs__tab--selected {
    outline: none;
}

.movie-link::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 95px;
    height: 5px;
    background-color: #5f575865;
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out;
}

.react-tabs__tab--selected::before {
    background-color: #DB1623;
}


@media (min-width: 34em) {
    .movie-list {
        row-gap: 45px;
        column-gap: 95px;
    }

    .movie-link {
        width: 30%;
    }

    .movie-link .text {
        font-size: 1.5rem;
    }

    .movie-link::before {
        width: 125px;
    }
}

@media (min-width: 55em) {
    .movie-list {
        column-gap: 40px;
    }

    .movie-link {
        width: 20%;
    }

}

@media (min-width: 80em) {

    .movie-list {
        gap: 45px;
    }

    .movie-link {
        flex-direction: row;
        justify-content: center;
    }
    
    .movie-link .text {
        margin-left: 15px;
    }

    .movie-link::before {
        width: 190px;
    }

}


/* spinner */
.spinner.loading {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spinner.loaded {
    display: none;
}

.loading.not-finish {
    opacity: 0;
}

.loading.finished {
    transition: opacity 0.2s ease-in;
    opacity: 1;
}