.movies-container {
    margin: 35px;
    margin-top: 75px;
}

.movie-cards {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
}

.movie-card-image {
    width: 100%;
    border-radius: 15px;
}

.movie-card {
    max-width: 400px;
    position: relative;
    margin-bottom: 70px;
    justify-self: center;
}

.movie-card .vote-average {
    position: absolute;
    top: -35px;
    left: -10px;
}

.vote-average svg {
    width: 50px;
}

.hover-container .watchlist-in-card {
    position: absolute;
    bottom: 45px;
    right: 0; 
}

.hover-container .btn-more-info {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

/* Hover styles */
/* @media (min-width: 77em) {

    .hover-container {
        opacity: 0;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        height: 80%;
        border-radius: 15px;    
        background-color: rgba(0, 0, 0, 0.764);
        text-align: center;
    }

    .hover-container:hover {
        opacity: 1;       
        transition: opacity 0.2s ease-in-out;
 
    }

    .movie-card-image {
        height: 100%;
        object-fit: cover;
    }

    .hover-container h3 {
        margin: 18px 5px;
    }

    .hover-container .watchlist-in-card {
        bottom: 5px;
        right: 10px; 
    }
    
    .hover-container .btn-more-info {
        position: absolute;
        bottom: 75px;
        left: 50%;
        transform: translateX(-50%);
    }

} */


/* wathchlist styles */
.empty-watchlist,
.no-movie-found {
    font-size: clamp(16px, 4vw, 24px);
    grid-column: 1 / -1;
    justify-self: center;
}

.no-movie-found {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cry-emoji {
    font-size: 150px;
    margin-bottom: 25px;

}