.movies-container {
    margin: 35px;
    margin-top: 75px;
}

.movie-cards {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    row-gap: 70px;
    column-gap: 35px;
}


.movie-card {
    position: relative;
    max-width: 265px;
    justify-self: center;

    /* add a placeholder for each movie card until the image finishes loading */
    width: 100%;
    background-color: #00000000;
}

.movie-card-image {
    display: block;
    width: 100%;
    aspect-ratio: 4 / 6;
    object-fit: cover;
    border-radius: 15px;
}


.movie-card .vote-average {
    position: absolute;
    top: -35px;
    left: -10px;
    z-index: 100;
}

.vote-average svg {
    width: 50px;
}

.under-img-container .watchlist-in-card {
    position: absolute;
    bottom: 45px;
    right: 0; 
}

.more-info {
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 20px 9px;
    margin-top: 15px;
    border-radius: 30px;
    background-color: red;
    cursor: pointer;
    display: block; 
    margin: 20px auto 0 auto; 
}

.hover-container {
    display: none;
}


/* Hover styles */
@media (min-width: 70em) {

    .under-img-container {
        display: none;
    }

    .hover-container {
        display: block;
        position: absolute;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.826);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 15px;    
        text-align: center;
        transition: opacity 0.2s ease-in-out;
    }

    .movie-card:hover .hover-container {
        opacity: 1;     
    }

    .movie-card {
        transition: transform 0.2s ease-in-out;
    }

    .movie-card:hover {
        transform: scale(1.07); 
    }

    .hover-container h3 {
        margin: 18px 5px;
        margin-top: 80px;
    }

    .hover-container .watchlist-in-card {
        position: absolute;
        bottom: 5px;
        right: 10px; 
    }
    
    .hover-container .more-info {
        position: absolute;
        bottom: 55px;
        left: 50%;
        transform: translateX(-50%);
    }

}


/* wathchlist styles */
.empty-watchlist {
    font-size: clamp(16px, 4vw, 24px);
    grid-column: 1 / -1;
    justify-self: center;
}


/* search result style */
.no-movie-found {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cry-emoji {
    font-size: 150px;
    margin: 25px auto;

}